@model List<CateringCo.Models.MenuItem>

<h1>
CateringCo formerly known as FoodTruck Menu Index View
</h1>
<p>
	Check back soon for menu details!
</p>

@if (Model == null || Model.Count == 0)
{
	<p><em>No Menu Items Found</em></p>
}
else
{
	<ul>
		@foreach (var MenuItem in Model)
		{
			<li>
				<strong>@MenuItem.Name</strong>
				Description @MenuItem.Description 
				For @MenuItem.Price
			</li>
		}
	</ul>
}
