@* 
@{
    ViewData["Title"] = "View";
}

<h1>View</h1> *@

<h1>
    Thank you for catering with us!  
</h1>
<p>
    Your request has been recieved and we will be reaching out shortly. 
</p>
<p><a asp-action="Create">Make another request</a></p>