<h1>
	Admin Manage Locations Page
</h1>
<p>
	If you can see this page, you are logged in and in the Admin role. 
</p>

@* Can I just link the update location and menu item views here with a button to access from this page instead of across the top nav bar?
Also, if I do that what is to stop someone from navigating to the same add location/menu page without admin log in? I know we have done it I forget where. *@