<h1>
	Views Admin Index
</h1>
<p>
	Welcome to the Admin Index page my dudes. The below links take you to the same create pages as the hyper links above. <br />
	I plan on implementing authorization to make these protected actions.
</p>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Create">Add Menu Item</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Create">Add New Location</a>
</li>